.main-text {
  text-align: center;
}

.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}


/* .product-info p {
  
} */

.btn-cover {
  border-block: 1px solid var(--black);
  padding-block: 1rem;
  text-align: center;
}