.home-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  margin-block: .25rem;
}

.home-flex h3 {
  font-size: var(--btn-size);
  font-weight: 500;
}

/* .product-info p {
  
} */

.btn-cover {
  border-block: 1px solid var(--black);
  padding-block: 1rem;
  text-align: center;
}

.btn-cover a {
  text-decoration: none;
  font-size: var(--btn-size);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .home-flex h3,
  .btn-cover a {
    font-size: var(--mobile-size);
  }
}