h1 {
  text-align: center;
}

.shop-main {
  display: flex;
  max-width: 1536px;
  width: 100%;
  margin-inline: auto;
}

.shop-cover {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: calc(1.5em * 1);
  /* Add flex wrap in a media query */
}

.shop-filter {
  border: 1px solid black;
  height: fit-content;
  /* padding: 1rem; */
  /* position: static; */
  flex-basis: 15rem;
  flex-grow: 0;
}

.shop-filter h3 {
  padding-block: .5rem;
  padding-inline-start: 1rem;
  border-block-end: 1px solid black;
}

.shop-filter h3:last-child {
  border-block-end: none;
}

.shop-grid {
  padding: 0!important;
  grid-template-columns: repeat(auto-fit,minmax(325px,1fr))!important;
}

/* shop details begin */

.flex-container {
  display: flex;
  /* justify-content: space-between;
  gap: 2rem; */
  max-width: 1536px;
  width: 100%;
  margin-inline: auto;
  margin-block-start: 5rem;
  padding: calc(1.5em * 1);
}

.flex-cover {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* might reduce to 5.5 */
  column-gap: 10.5rem;
  row-gap: 2rem;
  align-items: stretch;
  margin: 0 auto;
  justify-content: center;
}

.flex-container img {
  width: 100%;
  height: 300px;
  min-height: 26.5rem;
  /* height: 255px;
  min-height: 18rem; */
  object-fit: cover;
}

.name {
  font-size: calc(1.5rem + 1.25vw);
}

.price {
  font-size: calc(.75rem + .75vw);
}

.description {
  width: calc(5em* 5);
  font-size: calc(.55rem + .75vw);
  margin-block-end: 1.5rem;
}

.btn-container {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
}

.btns-cover {
  display: flex;
  border: 1px solid var(--black);
  padding: .5rem;
  padding-inline: 2rem;
  gap: 2rem;
}

.btns-cover button {
  border: none;
  font-size: calc(.7rem + .75vw);
  background-color: transparent;
  cursor: pointer;
}

.btns-cover span {
  font-size: calc(.7rem + .75vw);
}

.btn {
  font-size: calc(.7rem + .75vw);
  background-color: transparent;
  padding: .5rem;
  padding-inline: 2rem;
  border: 1px solid var(--black);
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .shop-filter {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1027px) {
  .shop-cover {
    flex-wrap: wrap;
  }
}