h1 {
  text-align: center;
}

.shop-main {
  display: flex;
  max-width: 1536px;
  width: 100%;
  margin-inline: auto;
  margin-block-end: 2rem;
}

.shop-cover {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: calc(1.5em * 1);
  /* Add flex wrap in a media query */
}

.shop-filter {
  border: 1px solid var(--border-color);
  height: fit-content;
  /* padding: 1rem; */
  /* position: static; */
  flex-basis: 15rem;
  flex-grow: 0;
}

.shop-filter h3 {
  padding-block: .5rem;
  padding-inline-start: 1rem;
  border-block-end: 1px solid var(--border-color);
  font-size: var(--header-p);
  font-weight: 500;
}

.shop-filter h3:last-child {
  border-block-end: none;
}

.shop-grid {
  padding: 0!important;
  grid-template-columns: repeat(auto-fit,minmax(325px,1fr))!important;
}

/* shop details begin */

/* .flex-container {
  display: flex;
  max-width: 1536px;
  width: 100%;
  margin-inline: auto;
  padding: calc(1.5em * 1);
  padding-block-start: 5rem;
} */

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(513px,1fr));
  /* Gives it an equal amount of row space even if we have a column with a higher amount of word or content */
  grid-auto-rows: minmax(min-content, 1fr);
  align-items: stretch;
  /* gap: var(--gap); */
  overflow: hidden;
  /* padding: calc(1.5em * 1); */
  width: 100%;
}

.flex-cover {
  position: relative;
  padding: 1rem;
  padding-inline: calc(1.5em * 1);
  /* display: flex;
  flex-grow: 1;
  flex-wrap: wrap; */
  /* might reduce to 5.5 */
  /* column-gap: 10.5rem;
  row-gap: 2rem;
  align-items: stretch; */
  padding-block-start: 5rem;
  height: 100vh;
}


.flex-cover::before,
.flex-cover::after {
  content: "";
  background-color: var(--black);
  position: absolute;
  z-index: 1;
}

.flex-cover::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-block-start: calc(var(--line-offset) * -1);
  inset-inline-start: 0;
}

.flex-cover::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
}

.flex-container img {
  width: 100%;
  height: 300px;
  min-height: 25.5rem;
  /* height: 255px;
  min-height: 18rem; */
  object-fit: cover;
}

.name {
  font-size: calc(1.5rem + 1.25vw);
}

.price {
  font-size: calc(.75rem + .75vw);
}

.description {
  /* width: calc(5em* 5); */
  font-size: calc(.55rem + .75vw);
  margin-block-end: 1.5rem;
}

.btn-container {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
}

.btns-cover {
  display: flex;
  border: 1px solid var(--border-color);
  padding: .5rem;
  padding-inline: 2rem;
  gap: 2rem;
}

.btns-cover button {
  border: none;
  font-size: var(--btn-size);
  background-color: transparent;
  cursor: pointer;
}

.btns-cover span {
  font-size: var(--btn-size);
}

.btn {
  font-size: var(--btn-size);
  background-color: transparent;
  padding: .5rem;
  padding-inline: 2rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .shop-filter {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1027px) {
  .shop-cover {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 560px) and (max-width: 1024px) {

  .flex-container img {
    height: 445px;
    min-height: 30.5rem;
  }

  .flex-cover:last-child {
    padding-block-start: 0;
  }
}

@media screen and (max-width: 560px) {
  .flex-cover {
    height: auto;
  }

  .flex-container {
    grid-template-columns: 1fr;
  }

  .flex-cover:last-child {
    padding-block-start: 0;
  }

  .flex-container img {
    height: 350px;
    min-height: 0;
  }
}

/* font size */

@media screen and (max-width: 768px) {
  .description {
    font-size: var(--btn-size);
  }

  .shop-filter h3 {
    font-size: var(--mobile-size);
  }
}