.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-inline: calc(1.5em * 1);
  padding-block: .5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--theme);
}

.header p {
  font-size: var(--header-p);
  font-weight: 500;
  color: var(--black);
}

@media screen and (max-width: 768px) {
  .header p {
    font-size: var(--btn-size);
  }
}