:root {
  --black: #0e0e0e;
  --gap: 1.5rem;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: .75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  /* Gives it an equal amount of row space even if we have a column with a higher amount of word or content */
  grid-auto-rows: minmax(min-content, 1fr);
  align-items: stretch;
  gap: var(--gap);
  overflow: hidden;
  padding: calc(1.5em * 1);
  width: 100%;
}

.link {
  text-decoration: none;
}

.grid-cover {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--black);
}

/* .grid-cover::before,
.grid-cover::after {
  content: "";
  background-color: var(--black);
  position: absolute;
  z-index: 1;
}

.grid-cover::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-block-start: calc(var(--line-offset) * -1);
  inset-inline-start: 0;
}

.grid-cover::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
} */

.grid-container img {
  width: 100%;
  /* height: 300px;
  min-height: 23rem; */
  height: 255px;
  min-height: 18rem;
  object-fit: cover;
}

.product-relative {
  position: relative;
}

.product-like {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}