@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --black: #0e0e0e;
  --theme: beige;
  --gap: 1.5rem;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: .75px;
  --btn-size: calc(.7rem + .75vw);
  --main-text: calc(1rem + 1.25vw);
  --header-p: calc(.5rem + .75vw);
  --mobile-size: calc(.75rem + 1vw);
  --scroll-text: calc(1.5rem + 1.5vw);
  --scroll-gap: calc(var(--gap) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Alegreya", serif;
  background-color: var(--theme);
}

a {
  text-decoration: none;
  color: var(--black);
}

.main-text {
  text-align: center;
  padding-block-start: 3.5rem;
  font-size: var(--main-text);
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  /* Gives it an equal amount of row space even if we have a column with a higher amount of word or content */
  grid-auto-rows: minmax(min-content, 1fr);
  align-items: stretch;
  gap: var(--gap);
  overflow: hidden;
  padding: calc(1.5em * 1);
  width: 100%;
}

.link {
  text-decoration: none;
}

.grid-cover {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--black);
}

/* .grid-cover::before,
.grid-cover::after {
  content: "";
  background-color: var(--black);
  position: absolute;
  z-index: 1;
}

.grid-cover::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-block-start: calc(var(--line-offset) * -1);
  inset-inline-start: 0;
}

.grid-cover::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
} */

.grid-container img {
  width: 100%;
  /* height: 300px;
  min-height: 23rem; */
  height: 255px;
  min-height: 18rem;
  object-fit: cover;
}

.grid-cover p {
  font-size: var(--header-p);
  font-weight: 500;
}

.product-relative {
  position: relative;
}

.product-like {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit,minmax(325px,1fr));
  }
}

@media screen and (max-width: 768px) {
  .grid-cover p {
    font-size: var(--mobile-size);
  }
}